# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Database
*.db
*.sqlite3

# IDE specific files
.vscode/
.idea/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/

